body {
    background: green;
}

header {
    background: #000;
}

h1 {
    font-size: 5rem;
    color: blue;
}


/* FONTS 
*/

/* Setting rule due to the fact that my chosen fonts are not web safe
- Relative file path

@font-face {
    font-family: "Open Sans";
    src:
}*/



/* 
NAVIGATION
*/

nav {
    display: inline-block;
}

.navleft {
    color: #FFF;
    font-size: 1rem;

}

.navright {
    color: #0F0;
}
